.json
{"fileName":"undefined.json","fileContent":{"data":[{"updatedAt":"2026-02-02T11:56:11.767Z","createdAt":"2026-01-26T11:38:21.462Z","id":"BEEb2MPZ8Vn7Q1d3","name":"Appl tikety","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"4af56166-4b24-4ef4-ad73-37687c8640dc","name":"When clicking ‘Execute workflow’"},{"parameters":{"method":"POST","url":"https://sazka.atlassian.net/rest/api/3/search/jql","authentication":"predefinedCredentialType","nodeCredentialType":"jiraSoftwareCloudApi","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"jql\": \"project = APPL AND statusCategory IN (\\\"To Do\\\", \\\"In Progress\\\") AND cf[10078] != \\\"APPL - JIRA\\\" ORDER BY created DESC\",\n  \"maxResults\": 50,\n  \"fields\": [\n    \"key\",\n    \"summary\",\n    \"status\",\n    \"assignee\",\n    \"created\",\n    \"updated\",\n    \"customfield_10078\"\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[224,0],"id":"613b3a85-6287-4c61-ab16-0683b12b4a56","name":"HTTP Request","credentials":{"jiraSoftwareCloudApi":{"id":"xcqAawELrpll3lsV","name":"Jira SW Cloud account"}}},{"parameters":{"fieldToSplitOut":"issues","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[448,0],"id":"daf9af3e-4718-4624-8c96-9a7f76ca3043","name":"Split Out"},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  // 1. Výpočet stáří ticketu (vytvoříme datum z pole 'created')\n  const datumVytvoreni = new Date(item.json.fields.created);\n  const dnes = new Date();\n  const rozdilCasu = dnes - datumVytvoreni;\n  \n  // Převod milisekund na dny\n  const dnyStari = Math.floor(rozdilCasu / (1000 * 60 * 60 * 24));\n  \n  // 2. Přidání nových polí do výsledku\n  item.json.dopocet_stari_dny = dnyStari;\n  \n  // Ukázka podmínky: Pokud je ticket starší než 30 dní, označíme ho\n  item.json.potrebuje_revizi = dnyStari > 30 ? \"ANO\" : \"NE\";\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,0],"id":"457ef686-d260-4585-aa60-16472b91cf39","name":"Code in JavaScript"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1qj72NlB0cW7Et1c2RF65oZa1VJihl0jKTkq98uf7DXc","mode":"list","cachedResultName":"APPL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qj72NlB0cW7Et1c2RF65oZa1VJihl0jKTkq98uf7DXc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"List 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0mzb1jMAOoJFHBBRGMT7z87F8TUbssiiZTGFBAnvgw/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"key":"==HYPERLINK(\"https://sazka.atlassian.net/browse/{{ $json.key }}\"; \"{{ $json.key }}\")","ID":"={{ $json.id }}","dopocet_stari_dny":"={{ $json.dopocet_stari_dny }}","potrebuje_revizi":"={{ $json.potrebuje_revizi }}","Jmeno":"={{ $json.fields.assignee.displayName }}"},"matchingColumns":["ID"],"schema":[{"id":"key","displayName":"key","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Jmeno","displayName":"Jmeno","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"dopocet_stari_dny","displayName":"dopocet_stari_dny","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"potrebuje_revizi","displayName":"potrebuje_revizi","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[896,0],"id":"f37df384-9229-41ef-b501-6872c70fe8f3","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"UXKuKfL9YK6NEEu4","name":"Google Sheets account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6970b3f2-92fa-4134-b16e-a3c4eab1cde6","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-26T11:38:21.464Z","createdAt":"2026-01-26T11:38:21.464Z","role":"workflow:owner","workflowId":"BEEb2MPZ8Vn7Q1d3","projectId":"Z11ErakUJxaSzDPO"}],"activeVersion":null,"tags":[]},{"updatedAt":"2026-02-16T08:18:03.638Z","createdAt":"2026-02-13T07:12:03.739Z","id":"MNc536WpFEQocQ2nY3y18","name":"Jira - projekty/automatizace","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"4fa12d1f-7fd3-4e77-b603-3a81b3902e12","name":"Manuálně spustit pracovní postup","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-240,-80]},{"parameters":{"url":"https://sazka.atlassian.net/rest/api/3/project","authentication":"predefinedCredentialType","nodeCredentialType":"jiraSoftwareCloudApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[16,-336],"id":"e3d178a9-e8d7-4877-93a9-42d80f870b70","name":"HTTP Request","credentials":{"jiraSoftwareCloudApi":{"id":"xcqAawELrpll3lsV","name":"Jira SW Cloud account"}}},{"parameters":{"url":"https://sazka.atlassian.net/rest/api/3/workflow","authentication":"predefinedCredentialType","nodeCredentialType":"jiraSoftwareCloudApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[16,-128],"id":"ab7486bb-c3c0-4e76-99ca-2a067c4da967","name":"HTTP Request1","credentials":{"jiraSoftwareCloudApi":{"id":"xcqAawELrpll3lsV","name":"Jira SW Cloud account"}},"disabled":true},{"parameters":{"url":"https://sazka.atlassian.net/rest/api/3/automation/rule","authentication":"predefinedCredentialType","nodeCredentialType":"jiraSoftwareCloudApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[16,64],"id":"4e15903c-7d79-468b-b18e-ea0b84848aa3","name":"HTTP Request2","credentials":{"jiraSoftwareCloudApi":{"id":"xcqAawELrpll3lsV","name":"Jira SW Cloud account"}},"disabled":true},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1_K3lVB_-nk0mpFhstzmS8hWSDdIAcPs5mhzCZISkvdU","mode":"list","cachedResultName":"Jira Projekty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_K3lVB_-nk0mpFhstzmS8hWSDdIAcPs5mhzCZISkvdU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"List 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_K3lVB_-nk0mpFhstzmS8hWSDdIAcPs5mhzCZISkvdU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $json.id }}","Key":"={{ $json.key }}","Name":"={{ $json.name }}"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Key","displayName":"Key","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[224,-336],"id":"b8d9b392-009b-4fa0-ba49-574ef1eb3bc6","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"UXKuKfL9YK6NEEu4","name":"Google Sheets account"}}}],"connections":{"Manuálně spustit pracovní postup":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"HTTP Request1","type":"main","index":0},{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a1a13297-8a67-4e94-bdb2-8832f98898f3","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-13T07:12:03.743Z","createdAt":"2026-02-13T07:12:03.743Z","role":"workflow:owner","workflowId":"MNc536WpFEQocQ2nY3y18","projectId":"Z11ErakUJxaSzDPO"}],"activeVersion":null,"tags":[]},{"updatedAt":"2025-12-26T17:59:00.086Z","createdAt":"2025-12-19T11:06:07.382Z","id":"U1rQX2vxJWQFHYFX","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{"q":"subject:#"}},"id":"82033d89-12bd-44a7-b1ae-042f0cce6f43","name":"Gmail Trigger","type":"n8n-nodes-base.gmailTrigger","typeVersion":1,"position":[368,-16],"credentials":{"gmailOAuth2":{"id":"s2xyhccDbVTBALBe","name":"Gmail account 2"}}},{"parameters":{"jsCode":"const body = $json.body;\nconst title = $json.title;\n\n// 1. Extrakce data\nconst dateRegex = /(\\d{1,2})\\.(\\d{1,2})\\.(\\d{4})/;\nconst dateMatch = body.match(dateRegex);\nif (!dateMatch) throw new Error(\"Datum nenalezeno v body emailu\");\nconst day = dateMatch[1].padStart(2,'0');\nconst month = dateMatch[2].padStart(2,'0');\nconst year = dateMatch[3];\n\n// 2. Extrakce času\nconst timeRegex = /(\\d{1,2}):(\\d{2})/;\nconst timeMatch = body.match(timeRegex);\nif (!timeMatch) throw new Error(\"Čas nenalezen v body emailu\");\nconst hour = timeMatch[1].padStart(2,'0');\nconst minute = timeMatch[2].padStart(2,'0');\n\n// 3. Start = přesný string, **žádný Date objekt**\nconst startDateTime = `${year}-${month}-${day}T${hour}:${minute}:00`; // <--- žádný +01:00\n\n// 4. End = +01:00 pokud chceš explicitně\nconst endDateTime = `${year}-${month}-${day}T${hour}:${minute}:00+01:00`;\n\nreturn {\n  title: title,\n  start: {\n    dateTime: startDateTime,\n    timeZone: \"Europe/Prague\"\n  },\n  end: {\n    dateTime: endDateTime,\n    timeZone: \"Europe/Prague\"\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[800,-16],"id":"b366fee8-36bf-41a1-8655-ec155a3690ac","name":"Code in JavaScript"},{"parameters":{"jsCode":"// 1. Získání subject\nlet subject = \"\";\nif ($json.Subject) subject = String($json.Subject).trim();\n\n// 2. Title = vše za #\nlet title = \"\";\nconst hashIndex = subject.indexOf(\"#\");\nif(hashIndex !== -1){\n  title = subject.slice(hashIndex+1).trim();\n} else {\n  title = subject; // pokud # není, použije celý subject\n}\n\n// 3. Body\nlet body = String($json.text || $json.snippet || \"\").trim();\nbody = body.replace(/\\r/g,\"\\n\").replace(/\\n+/g,\"\\n\").trim();\n\n// 4. Výstup pro NODE 2\nreturn [\n  {\n    json: {\n      title: title,\n      body: body\n    }\n  }\n];\n"},"id":"4bbf099f-ca3c-458e-bc59-77af6214189d","name":"Extract Info","type":"n8n-nodes-base.code","typeVersion":2,"position":[592,-16]},{"parameters":{"calendar":{"__rl":true,"value":"drexlerkarel@gmail.com","mode":"list","cachedResultName":"drexlerkarel@gmail.com"},"start":"={{ $json.start.dateTime }}","end":"={{ $json.end.dateTime }}","useDefaultReminders":"=","additionalFields":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[1008,-16],"id":"73c069cf-65f4-450a-82da-aebf7b7bae00","name":"Create an event","credentials":{"googleCalendarOAuth2Api":{"id":"yjDdtctAIXdpoYmD","name":"Google Calendar account"}}}],"connections":{"Gmail Trigger":{"main":[[{"node":"Extract Info","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Create an event","type":"main","index":0}]]},"Extract Info":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"676a1cc5-fe22-4bac-9750-b94ab63a96fd","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-19T11:06:07.386Z","createdAt":"2025-12-19T11:06:07.386Z","role":"workflow:owner","workflowId":"U1rQX2vxJWQFHYFX","projectId":"Z11ErakUJxaSzDPO"}],"activeVersion":null,"tags":[]},{"updatedAt":"2026-02-16T11:25:57.465Z","createdAt":"2026-02-10T09:55:09.929Z","id":"V3OsxGoWucivYicLDFG3p","name":"Manual n8n Backup to GitLab","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"61f8dc2c-004c-4855-8a88-aa54d2a546ab","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-240,160]},{"parameters":{"url":"https://drexlerdrexlerdrexler.app.n8n.cloud/api/v1/workflows","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI0MWMxODVmMC03M2I0LTQzZmItODlhMS0wMzFiOTI3MTg3NjIiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzcxMjM4MzU2LCJleHAiOjE3NzM3ODg0MDB9.iXnikk-QG4MFpXDIv09n1o8_SdJRDNBbxyN0dTkro2o"}]},"options":{}},"id":"ba218efc-55c2-4156-8228-674345666a3d","name":"Get Workflows","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[-48,160]},{"parameters":{"jsCode":"// Tento kód bezpečně projde všechna workflow ze seznamu\nconst results = [];\n\nfor (const item of $input.all()) {\n  // Kontrola, zda data existují\n  if (item.json) {\n    results.push({\n      json: {\n        fileName: `${item.json.name}.json`, // Název souboru pro GitHub\n        fileContent: item.json              // Samotný obsah workflow\n      }\n    });\n  }\n}\n\nreturn results;"},"id":"67f94990-9b5f-483a-b98d-fe7fbda80fa8","name":"Prepare Workflows","type":"n8n-nodes-base.code","typeVersion":2,"position":[160,160]},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"DrexKa","mode":"list","cachedResultName":"DrexKa","cachedResultUrl":"https://github.com/DrexKa"},"repository":{"__rl":true,"value":"Karel_learning","mode":"list","cachedResultName":"Karel_learning","cachedResultUrl":"https://github.com/DrexKa/Karel_learning"},"filePath":"={{ $json.name }}.json","fileContent":"={{ JSON.stringify($json) }}","commitMessage":"Záloha z n8n"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[368,160],"id":"783f90b0-4e72-4be4-b846-5e769e65927f","name":"Create a file","webhookId":"c648b917-c008-4da6-af65-8cd9306392d3","credentials":{"githubApi":{"id":"89hXOYq45AnJTfem","name":"GitHub account"}}}],"connections":{"Manual Trigger":{"main":[[{"node":"Get Workflows","type":"main","index":0}]]},"Get Workflows":{"main":[[{"node":"Prepare Workflows","type":"main","index":0}]]},"Prepare Workflows":{"main":[[{"node":"Create a file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"46e06d37-ddc0-4d84-b221-001724b5dbc2","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-10T09:55:09.931Z","createdAt":"2026-02-10T09:55:09.931Z","role":"workflow:owner","workflowId":"V3OsxGoWucivYicLDFG3p","projectId":"Z11ErakUJxaSzDPO"}],"activeVersion":null,"tags":[]},{"updatedAt":"2025-12-19T09:55:17.664Z","createdAt":"2025-12-19T09:36:58.973Z","id":"jIZnUDpxXFH6Bdsh","name":"Import Jason Module","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{"q":"subject:#"}},"id":"184f3bd5-4fe0-4e52-8134-eaa34ffca978","name":"Gmail Trigger","type":"n8n-nodes-base.gmailTrigger","typeVersion":1,"position":[880,160],"credentials":{"gmailOAuth2":{"id":"dEAPZDdKjVPxikcE","name":"Gmail account"}}},{"parameters":{"jsCode":"const output = [];\nfor (const item of $input.all()) {\n  const subject = item.json.subject || \"\";\n  const body = item.json.text || \"\";\n  const titleMatch = subject.match(/#\\s*(.*)/);\n  const eventTitle = titleMatch ? titleMatch[1].trim() : \"Nová událost\";\n\n  const dateMatch = body.match(/(\\d{1,2}\\.\\s*\\d{1,2}\\.\\s*\\d{4})|(\\d{4}-\\d{2}-\\d{2})/);\n  let eventDate = null;\n\n  if (dateMatch) {\n      const rawDate = dateMatch[0].replace(/\\s/g, '');\n      if (rawDate.includes('.')) {\n          const parts = rawDate.split('.');\n          eventDate = `${parts[2]}-${parts[1].padStart(2, '0')}-${parts[0].padStart(2, '0')}T09:00:00`;\n      } else {\n          eventDate = `${rawDate}T09:00:00`;\n      }\n  }\n  output.push({\n    json: {\n      title: eventTitle,\n      start: eventDate || new Date().toISOString(),\n      end: eventDate ? new Date(new Date(eventDate).getTime() + 3600000).toISOString() : new Date().toISOString()\n    }\n  });\n}\nreturn output;"},"id":"71fa833b-f401-4b48-b4d0-531cd355d979","name":"Extract Info","type":"n8n-nodes-base.code","typeVersion":2,"position":[1104,160]},{"parameters":{"calendar":{"__rl":true,"value":"drexlerkarel@gmail.com","mode":"id"},"start":"={{ $json.start }}","end":"={{ $json.end }}","additionalFields":{"summary":"={{ $json.title }}"}},"id":"f8a371fe-5fcb-4e1b-abf0-c94134710d3a","name":"Google Calendar","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[1328,160],"credentials":{"googleCalendarOAuth2Api":{"id":"yjDdtctAIXdpoYmD","name":"Google Calendar account"}}}],"connections":{"Gmail Trigger":{"main":[[{"node":"Extract Info","type":"main","index":0}]]},"Extract Info":{"main":[[{"node":"Google Calendar","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1cf23dd9-1b7a-4d67-881e-4623aa2636e7","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-19T09:36:58.976Z","createdAt":"2025-12-19T09:36:58.976Z","role":"workflow:owner","workflowId":"jIZnUDpxXFH6Bdsh","projectId":"Z11ErakUJxaSzDPO"}],"activeVersion":null,"tags":[]},{"updatedAt":"2026-02-02T11:36:18.461Z","createdAt":"2026-01-15T11:43:53.366Z","id":"qSP3dsIm_yj0dH3WVHvlU","name":"Jira tikety","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"3768e091-88c9-4dc4-b1e0-7f3aa6afb33a","name":"When clicking ‘Execute workflow’"},{"parameters":{"method":"POST","url":"https://sazka.atlassian.net/rest/api/3/search/jql","authentication":"predefinedCredentialType","nodeCredentialType":"jiraSoftwareCloudApi","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"jql\": \"project = APPL AND statusCategory IN (\\\"To Do\\\", \\\"In Progress\\\") AND cf[10078] = \\\"APPL - JIRA\\\" ORDER BY created DESC\",\n  \"maxResults\": 50,\n  \"fields\": [\n    \"key\",\n    \"summary\",\n    \"status\",\n    \"assignee\",\n    \"created\",\n    \"updated\",\n    \"customfield_10078\"\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[224,0],"id":"f307979a-f0bd-4209-8403-8b4bd1b2e056","name":"HTTP Request","credentials":{"jiraSoftwareCloudApi":{"id":"xcqAawELrpll3lsV","name":"Jira SW Cloud account"}}},{"parameters":{"fieldToSplitOut":"issues","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[448,0],"id":"2e782b62-d11c-48c8-adb4-4c21a529b0d9","name":"Split Out"},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  // 1. Výpočet stáří ticketu (vytvoříme datum z pole 'created')\n  const datumVytvoreni = new Date(item.json.fields.created);\n  const dnes = new Date();\n  const rozdilCasu = dnes - datumVytvoreni;\n  \n  // Převod milisekund na dny\n  const dnyStari = Math.floor(rozdilCasu / (1000 * 60 * 60 * 24));\n  \n  // 2. Přidání nových polí do výsledku\n  item.json.dopocet_stari_dny = dnyStari;\n  \n  // Ukázka podmínky: Pokud je ticket starší než 30 dní, označíme ho\n  item.json.potrebuje_revizi = dnyStari > 30 ? \"ANO\" : \"NE\";\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,0],"id":"3a96bdd9-9f15-4890-9af9-7b74bed7e7c0","name":"Code in JavaScript"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1D0mzb1jMAOoJFHBBRGMT7z87F8TUbssiiZTGFBAnvgw","mode":"list","cachedResultName":"Jira report","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0mzb1jMAOoJFHBBRGMT7z87F8TUbssiiZTGFBAnvgw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"List 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0mzb1jMAOoJFHBBRGMT7z87F8TUbssiiZTGFBAnvgw/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"key":"==HYPERLINK(\"https://sazka.atlassian.net/browse/{{ $json.key }}\"; \"{{ $json.key }}\")","ID":"={{ $json.id }}","dopocet_stari_dny":"={{ $json.dopocet_stari_dny }}","potrebuje_revizi":"={{ $json.potrebuje_revizi }}","Jmeno":"={{ $json.fields.assignee.displayName }}"},"matchingColumns":["ID"],"schema":[{"id":"key","displayName":"key","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Jmeno","displayName":"Jmeno","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"dopocet_stari_dny","displayName":"dopocet_stari_dny","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"potrebuje_revizi","displayName":"potrebuje_revizi","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[896,0],"id":"5fa0d0bc-caef-49f8-bbb5-efd198d90893","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"UXKuKfL9YK6NEEu4","name":"Google Sheets account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"67bd6b8c-0176-45f6-aac9-b35b3874f551","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-15T11:43:53.370Z","createdAt":"2026-01-15T11:43:53.370Z","role":"workflow:owner","workflowId":"qSP3dsIm_yj0dH3WVHvlU","projectId":"Z11ErakUJxaSzDPO"}],"activeVersion":null,"tags":[]}],"nextCursor":null}}