Appl tikety_2026-02-18_13-09.json
{"updatedAt":"2026-02-02T11:56:11.767Z","createdAt":"2026-01-26T11:38:21.462Z","id":"BEEb2MPZ8Vn7Q1d3","name":"Appl tikety","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"4af56166-4b24-4ef4-ad73-37687c8640dc","name":"When clicking ‘Execute workflow’"},{"parameters":{"method":"POST","url":"https://sazka.atlassian.net/rest/api/3/search/jql","authentication":"predefinedCredentialType","nodeCredentialType":"jiraSoftwareCloudApi","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"jql\": \"project = APPL AND statusCategory IN (\\\"To Do\\\", \\\"In Progress\\\") AND cf[10078] != \\\"APPL - JIRA\\\" ORDER BY created DESC\",\n  \"maxResults\": 50,\n  \"fields\": [\n    \"key\",\n    \"summary\",\n    \"status\",\n    \"assignee\",\n    \"created\",\n    \"updated\",\n    \"customfield_10078\"\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[224,0],"id":"613b3a85-6287-4c61-ab16-0683b12b4a56","name":"HTTP Request","credentials":{"jiraSoftwareCloudApi":{"id":"xcqAawELrpll3lsV","name":"Jira SW Cloud account"}}},{"parameters":{"fieldToSplitOut":"issues","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[448,0],"id":"daf9af3e-4718-4624-8c96-9a7f76ca3043","name":"Split Out"},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  // 1. Výpočet stáří ticketu (vytvoříme datum z pole 'created')\n  const datumVytvoreni = new Date(item.json.fields.created);\n  const dnes = new Date();\n  const rozdilCasu = dnes - datumVytvoreni;\n  \n  // Převod milisekund na dny\n  const dnyStari = Math.floor(rozdilCasu / (1000 * 60 * 60 * 24));\n  \n  // 2. Přidání nových polí do výsledku\n  item.json.dopocet_stari_dny = dnyStari;\n  \n  // Ukázka podmínky: Pokud je ticket starší než 30 dní, označíme ho\n  item.json.potrebuje_revizi = dnyStari > 30 ? \"ANO\" : \"NE\";\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,0],"id":"457ef686-d260-4585-aa60-16472b91cf39","name":"Code in JavaScript"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1qj72NlB0cW7Et1c2RF65oZa1VJihl0jKTkq98uf7DXc","mode":"list","cachedResultName":"APPL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qj72NlB0cW7Et1c2RF65oZa1VJihl0jKTkq98uf7DXc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"List 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0mzb1jMAOoJFHBBRGMT7z87F8TUbssiiZTGFBAnvgw/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"key":"==HYPERLINK(\"https://sazka.atlassian.net/browse/{{ $json.key }}\"; \"{{ $json.key }}\")","ID":"={{ $json.id }}","dopocet_stari_dny":"={{ $json.dopocet_stari_dny }}","potrebuje_revizi":"={{ $json.potrebuje_revizi }}","Jmeno":"={{ $json.fields.assignee.displayName }}"},"matchingColumns":["ID"],"schema":[{"id":"key","displayName":"key","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Jmeno","displayName":"Jmeno","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"dopocet_stari_dny","displayName":"dopocet_stari_dny","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"potrebuje_revizi","displayName":"potrebuje_revizi","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[896,0],"id":"f37df384-9229-41ef-b501-6872c70fe8f3","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"UXKuKfL9YK6NEEu4","name":"Google Sheets account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6970b3f2-92fa-4134-b16e-a3c4eab1cde6","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-26T11:38:21.464Z","createdAt":"2026-01-26T11:38:21.464Z","role":"workflow:owner","workflowId":"BEEb2MPZ8Vn7Q1d3","projectId":"Z11ErakUJxaSzDPO"}],"activeVersion":null,"tags":[]}