Confluence Spaces -> Group Permissions -> Google Sheet_2026-02-20_19-57.json
{"updatedAt":"2026-02-20T09:50:45.000Z","createdAt":"2026-02-20T09:16:48.701Z","id":"-wRAPB6tY7LMt4rvnYm07","name":"Confluence Spaces -> Group Permissions -> Google Sheet","active":false,"isArchived":true,"nodes":[{"parameters":{},"id":"e2a4ba7c-f61c-4d2e-bb69-6ad80ed01e5d","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"url":"https://sazka.atlassian.net/wiki/api/v2/spaces?limit=250","authentication":"predefinedCredentialType","nodeCredentialType":"jiraSoftwareCloudApi","options":{}},"id":"7e6a8bd7-9287-4150-abdd-4252d15e55fc","name":"HTTP - List Spaces","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[224,0],"credentials":{"jiraSoftwareCloudApi":{"id":"xcqAawELrpll3lsV","name":"Jira SW Cloud account"}}},{"parameters":{"fieldToSplitOut":"results","options":{}},"id":"71a9c119-7aad-49be-9e01-a518bd184b9b","name":"Split Out - Spaces","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[448,0]},{"parameters":{"fields":{"values":[{"name":"SpaceId","stringValue":"={{$json.id}}"},{"name":"SpaceKey","stringValue":"={{$json.key}}"},{"name":"SpaceName","stringValue":"={{$json.name}}"}]},"options":{}},"id":"43efebd2-a76e-43c5-ae08-0bcee48ce157","name":"Edit Fields - Space fields","type":"n8n-nodes-base.set","typeVersion":3,"position":[672,0]},{"parameters":{"url":"=https://sazka.atlassian.net/wiki/api/v2/spaces/{{$json.SpaceId}}/permissions","authentication":"predefinedCredentialType","nodeCredentialType":"jiraSoftwareCloudApi","options":{}},"id":"26fecc9d-82e0-4443-9a9b-ba47ce93b6c1","name":"HTTP - Space Permissions","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[880,0],"credentials":{"jiraSoftwareCloudApi":{"id":"xcqAawELrpll3lsV","name":"Jira SW Cloud account"}}},{"parameters":{"mode":"mergeByIndex","options":{}},"id":"6d6d3d72-57f8-44ed-b53e-cc35e7e78a9b","name":"Merge - Space + Permissions","type":"n8n-nodes-base.merge","typeVersion":2,"position":[1104,0]},{"parameters":{"fieldToSplitOut":"results","options":{}},"id":"f5943a26-0190-4718-98a2-7bc5c3fcc3f5","name":"Split Out - Permissions","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1328,0]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.principal.type}}","operation":"equals","value2":"group"}]},"options":{}},"id":"a88bc471-aee6-4c96-a1d8-22e00afd6dcb","name":"IF - principal.type = group","type":"n8n-nodes-base.if","typeVersion":2,"position":[1520,0]},{"parameters":{"fields":{"values":[{"name":"SpaceId","stringValue":"={{$json.SpaceId}}"},{"name":"SpaceKey","stringValue":"={{$json.SpaceKey}}"},{"name":"SpaceName","stringValue":"={{$json.SpaceName}}"},{"name":"GroupId","stringValue":"={{$json.principal.id}}"},{"name":"GroupName","stringValue":"={{$json.principal.id}}"},{"name":"OperationKey","stringValue":"={{$json.operation.key}}"},{"name":"TargetType","stringValue":"={{$json.operation.targetType}}"}]},"options":{}},"id":"1b915804-ca29-4347-b7eb-d14826a0edef","name":"Edit Fields - Final row","type":"n8n-nodes-base.set","typeVersion":3,"position":[1728,0]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1QSU6TotaiQGZwg-I_ms4-vf89R5Rx49Gi5jPvdSogTE","mode":"list","cachedResultName":"Space_AD_Groups","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QSU6TotaiQGZwg-I_ms4-vf89R5Rx49Gi5jPvdSogTE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"List 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QSU6TotaiQGZwg-I_ms4-vf89R5Rx49Gi5jPvdSogTE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"SpaceId":"={{$json.SpaceId}}","SpaceKey":"={{$json.SpaceKey}}","SpaceName":"={{$json.SpaceName}}","GroupId":"={{$json.GroupId}}","GroupName":"={{$json.GroupName}}","OperationKey":"={{$json.OperationKey}}","TargetType":"={{$json.TargetType}}"}},"options":{}},"id":"990454d4-4213-427e-8cc4-e2973b6eb427","name":"Google Sheets - Append Row","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1920,0],"credentials":{"googleSheetsOAuth2Api":{"id":"UXKuKfL9YK6NEEu4","name":"Google Sheets account"}}}],"connections":{"Manual Trigger":{"main":[[{"node":"HTTP - List Spaces","type":"main","index":0}]]},"HTTP - List Spaces":{"main":[[{"node":"Split Out - Spaces","type":"main","index":0}]]},"Split Out - Spaces":{"main":[[{"node":"Edit Fields - Space fields","type":"main","index":0}]]},"Edit Fields - Space fields":{"main":[[{"node":"HTTP - Space Permissions","type":"main","index":0},{"node":"Merge - Space + Permissions","type":"main","index":0}]]},"HTTP - Space Permissions":{"main":[[{"node":"Merge - Space + Permissions","type":"main","index":1}]]},"Merge - Space + Permissions":{"main":[[{"node":"Split Out - Permissions","type":"main","index":0}]]},"Split Out - Permissions":{"main":[[{"node":"IF - principal.type = group","type":"main","index":0}]]},"IF - principal.type = group":{"main":[[{"node":"Edit Fields - Final row","type":"main","index":0}]]},"Edit Fields - Final row":{"main":[[{"node":"Google Sheets - Append Row","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"aad6aa3e-8dfc-4d52-9ee8-0699c285467e","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-20T09:16:48.704Z","createdAt":"2026-02-20T09:16:48.704Z","role":"workflow:owner","workflowId":"-wRAPB6tY7LMt4rvnYm07","projectId":"Z11ErakUJxaSzDPO"}],"activeVersion":null,"tags":[]}